<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_dcg_asset_root" name="IT Assets" sequence="94"
        web_icon="dcg_asset_it,static/description/icon.png"
        groups="dcg_asset_it.group_dcg_asset_user"/>
    <menuitem id="menu_dcg_asset_all" name="All Assets" parent="menu_dcg_asset_root" action="action_dcg_asset" sequence="10"/>
    <menuitem id="menu_dcg_asset_assignments" name="Assignments" parent="menu_dcg_asset_root" action="action_dcg_asset_assignment" sequence="20"/>
    <menuitem id="menu_dcg_asset_checkouts" name="Checkouts" parent="menu_dcg_asset_root" action="action_dcg_asset_checkout" sequence="25"/>
    <menuitem id="menu_dcg_asset_licenses" name="Licenses" parent="menu_dcg_asset_root" action="action_dcg_asset_license" sequence="30"/>
    <menuitem id="menu_dcg_asset_warranties" name="Warranties" parent="menu_dcg_asset_root" action="action_dcg_asset_warranty" sequence="40"/>
    <menuitem id="menu_dcg_asset_maintenance" name="Maintenance" parent="menu_dcg_asset_root" action="action_dcg_asset_maintenance" sequence="50"/>
    <menuitem id="menu_dcg_asset_config" name="Configuration" parent="menu_dcg_asset_root" sequence="90" groups="dcg_asset_it.group_dcg_asset_manager"/>
    <menuitem id="menu_dcg_asset_config_types" name="Types" parent="menu_dcg_asset_config" action="action_dcg_asset_type" sequence="10"/>
    <menuitem id="menu_dcg_asset_config_categories" name="Categories" parent="menu_dcg_asset_config" action="action_dcg_asset_category" sequence="20"/>
    <menuitem id="menu_dcg_asset_config_stages" name="Stages" parent="menu_dcg_asset_config" action="action_dcg_asset_stage" sequence="30"/>
    <menuitem id="menu_dcg_asset_config_locations" name="Locations" parent="menu_dcg_asset_config" action="action_dcg_asset_location" sequence="40"/>
</odoo>
