<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_dcg_project_finance_root"
        name="Project Finance"
        sequence="95"
        web_icon="dcg_project_finance,static/description/icon.png"
        groups="dcg_project_finance.group_dcg_project_finance_user"/>
    <menuitem
        id="menu_dcg_project_finance_main"
        name="Project Finance"
        parent="menu_dcg_project_finance_root"
        action="action_dcg_project_finance"
        sequence="10"/>
    <menuitem
        id="menu_dcg_project_finance_costs"
        name="Cost Lines"
        parent="menu_dcg_project_finance_root"
        action="action_dcg_finance_cost_line"
        sequence="20"/>
    <menuitem
        id="menu_dcg_project_finance_revenue"
        name="Revenue Lines"
        parent="menu_dcg_project_finance_root"
        action="action_dcg_finance_revenue_line"
        sequence="30"/>
</odoo>
