<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_dcg_delivery_root"
        name="Delivery"
        sequence="93"
        web_icon="dcg_project_delivery,static/description/icon.png"
        groups="dcg_project_delivery.group_dcg_project_user"/>
    <menuitem
        id="menu_dcg_delivery_projects"
        name="Projects"
        parent="menu_dcg_delivery_root"
        action="action_dcg_project_delivery"
        sequence="10"/>
    <menuitem
        id="menu_dcg_delivery_milestones"
        name="Milestones"
        parent="menu_dcg_delivery_root"
        action="action_dcg_project_milestone"
        sequence="20"/>
    <menuitem
        id="menu_dcg_delivery_issues"
        name="Issues / Risks"
        parent="menu_dcg_delivery_root"
        action="action_dcg_project_issue"
        sequence="30"/>
    <menuitem
        id="menu_dcg_delivery_change_requests"
        name="Change Requests"
        parent="menu_dcg_delivery_root"
        action="action_dcg_project_change_request"
        sequence="40"/>
    <menuitem
        id="menu_dcg_delivery_my_tasks"
        name="My Tasks"
        parent="menu_dcg_delivery_root"
        action="action_dcg_project_task_my"
        sequence="11"/>
    <menuitem
        id="menu_dcg_delivery_all_tasks"
        name="All Tasks"
        parent="menu_dcg_delivery_root"
        action="action_dcg_project_task"
        sequence="12"/>
    <menuitem
        id="menu_dcg_delivery_tasks_by_project"
        name="Tasks by Project"
        parent="menu_dcg_delivery_root"
        action="action_dcg_project_task_by_project"
        sequence="13"/>
    <menuitem
        id="menu_dcg_delivery_config"
        name="Configuration"
        parent="menu_dcg_delivery_root"
        sequence="99"
        groups="dcg_project_delivery.group_dcg_project_manager"/>
    <menuitem
        id="menu_dcg_delivery_task_stage"
        name="Task Stages"
        parent="menu_dcg_delivery_config"
        action="action_dcg_project_task_stage"
        sequence="10"/>
    <menuitem
        id="menu_dcg_delivery_task_tag"
        name="Task Tags"
        parent="menu_dcg_delivery_config"
        action="action_dcg_project_task_tag"
        sequence="20"/>
</odoo>
